body
{
    background-position: center;
    background-size: cover;
}
.heading{
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}
.heading h3{
    display: inline;
    font-size: 22px;
}
.heading button{
    float: right;
    border: 1px solid rgb(255, 127, 127);
}
.footer{
    background-color: rgb(74, 255, 128);
    width: 100%;
    margin-bottom: 0px;
    color: rgb(25, 65, 126);
    line-height: 2;
    bottom: 80px;
    position: sticky;
}
.modal-body{
    text-align: left;
}